/* =======================575 start============================== */
/* @media screen and (min-width:575px){
    .menu-logo-wrapper {
        flex-direction: column;
    }
    .img-main {
        margin-left: 9px;
        flex-direction: column;
    }
    .img-1 {
        width: 80%;
    }
    .img-title-content h5 {
        margin-left: 42px;
    }
    .img-title-content h1 {
        width: 300px;
        margin-left: -46px;
    }
    .img-title-content p {
        width: 150%;
        margin-left: -44px;
    }
    ul.img-ul {
        margin-left: -46px;
    }
    .img-button-about {
        margin-left: 7px;
    }
    .review-wreepar-1 {
        width: 80%;
    }
    .review-content p {
        width: 440px;
    }
    .review-content p {
        width: 205px;
    }
    .review-main {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: -10px;
    }
    .review-content {
        background-color: rgba(50, 48, 48, 0.245);
        padding: 20px 0 20px 18px;
        margin: 14px;
        justify-content: center;
    }
    .review-wreepar-2 {
        width: 80%;
    }
    .gallary-tabing {
        margin-left: 36px;
    }
    .container {
        max-width: 1320px;
        margin: 0 auto;
        margin-left: 112px;
    }
    element.style {
        margin-left: -93px;
    }
    .gallary-img-wrapper {
        margin: 0 -18px;
        width: 100%;
    }
    .gallary-img-item {
        width: 50%;
    }
    section.gallary {
        padding: 0px 0;
    }
    .main-form {
        margin-left: 31px;
        width: 100%;
    }
    .conect-all {
        display: flex;
        width: 90.9%;
        flex-direction: column;
    }
    .box-form-2 input {
        width: 77.2%;
    }
    .conect-main-2 {
        width: 100%;
        margin-left: 35px;
    }
    .footer-email-button p {
        width: 224px;
    }
    input[type="email"] {
        width: 156px;
    }
    .footer-wrepper {
        padding: 0px;
        flex-direction: column;
        display: flex;
    }
    .footer-wrepper {
        padding: 0px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .footer-part {
        width: 50%;
    }
    .my-service-wreper {
        width: 100%;
    }
}  */
/* =======================575 end============================== */
/* =======================991 start============================== */
/* @media screen and (min-width:991px){
    .review-content p {
        width: 447px;
    }
    .img-title-content h1 {
        width: 400px;
    }
    .my-service-wreper {
        width: 100%;
        margin: -21px;
        margin-left: 15px;
    }
    .services-menu {
        width: 40%;
    }
    .review-content {
        width: 90%;
    }   
    .review-content p {
        width: 339px;
    }
    .review-main {
        margin-left: 12px;
    }
    .gallary-img-item {
        width: 50%;
    }
    ul.contact-name-ul {
        margin-right: 36px;
    }
    .blog-item {
        margin-left: 30px;
    }
    .footer-wrepper {
        padding: 25px;
    }
    .box-form-2 input {
        width: 76%;
    } 
}  */
/* =======================991 end============================== */
/* =======================1440 start============================== */
/* @media screen and (min-width:1440px){
    element.style {
        width: 85%;
    }
} */
/* =======================1440 end============================== */